body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background: #282a2b;
  letter-spacing: 1px;
}
p {
  font-size: 16px;
}
p.small {
  font-size: 14px;
}
a, a.active, a:active, a:focus, a:hover {
  color: #18bc9c;
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.4em;
}
.img-centered {
  margin: 0 auto;
}
ol li {
  font-size: 1.2em;
  margin-bottom: 1em;
}
ol[type="I"] li {
  font-size: 1.6em;
}
ol[type="I"] h2, section ol[type="I"] h2 {
  padding-top: 1em;
  font-size: 1.2em;
}
ol[type="A"] li {
  font-size: 1.4em;
}
ol[type="i"] li {
  font-size: 1.2em;
}
ol[type="a"] li {
  font-size: 1.1em;
}
section {
  padding: 4em 0;
  background: #fff;
}
section h2 {
  font-size: 2em;
  margin: 0 0 1em;
}
section h3 {
  font-size: 1.8em;
  font-weight: normal;
  text-transform: none;
  padding-bottom: 1em;
  max-width: 500px;
  margin: auto;
}
section.success {
  color: white;
  background: #2261ac;
}
section ol h2 {
  font-size: 1em;
}
.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}
.scroll-top .btn {
  font-size: 16px;
  line-height: 28px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
}
.scroll-top .btn:focus {
  outline: none;
}
header.masthead {
  text-align: center;
  color: white;
  padding: 4em 0;
}
header.masthead.prepare {
  background: #2261ac;
}
header.masthead img {
  display: block;
  margin: 0 auto 20px;
}
section.odd, section.even {
  color: #222;
}
section.centered {
  text-align: center;
}
section.odd {
  background: beige;
}
section.even {
  background: #eee;
}
section h3 {
  text-align: center;
}
.card img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.card a:hover {
  opacity: 0.7;
}
.boxes {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  position: relative;
}

.box {
  background: #222;
  float: none;
  font-size: 1.1em;
  margin: 0 1em 2em 0;
  border: 0;
  text-align: center;
  min-width: 0;
  display: block;
  padding: 4em 1em;
  position: relative;
  color: #fff;
  font-weight: normal;
}
.box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box:hover {
  text-decoration: none;
  opacity: 0.7;
}
footer {
  color: white;
}
footer .row {
  padding: 0 1em;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 20px;
  background-color: #282a2b;
}
footer .footer-col {
  margin-bottom: 30px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #282a2b;
}
@media (max-width: 980px) {
  .card {
    text-align: center;
    margin-bottom: 1em;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.4em;
  }
  section h3 {
    font-size: 1.4em;
  }
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
  .boxes {
    display: block;
  }
  .box {
    width: 90%;
    margin: 1em auto;
  }
}