
/*Buttons*/

.btn-first{ 
  margin-right:10px;
} 

.glyphicon-trash{
    margin-right:3px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.navbar-brand{
  height: 100px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #363839; 
  padding:10px 0px 0px 0px;
  /* Set the fixed height of the footer here */
  min-height: 60px;
}

body {
    font-family: 'Lato';
    
    
}

.fa-btn {
    margin-right: 6px;
}

.user-alerts{
  padding: 0;
  margin-bottom: 1rem;
}

.table{
  margin-top: 1rem;
}

table th, .table td {
    padding: 0.27rem;

}

.page-header {
  margin-bottom: 2em;
}

.snippet {
  cursor: pointer;
}

