

<template>
  <div>
    <h1>EEG File Uploader</h1>
    <vue-dropzone id="dropzone" :options="dropzoneOptions">
    </vue-dropzone>
    
  </div>
</template>

<script>

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: 'app',
  components: {
    vueDropzone: vue2Dropzone
  },
  data: function () {
    return {
      dropzoneOptions: {
          url: '/uploader-store',
          thumbnailWidth: 150,
          maxFilesize: 1024,
          parallelUploads: 1,
          timeout: 900000,         // 15 Minutes
          headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') },
          dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>&nbsp;Drop files here or click to upload.",
          
          init: function() {
            console.log('Init');
            this.on("sending", function(file, xhr, formData) {
              let projectId= document.getElementById('project_id').value;
              let siteId = document.getElementById('site_id').value;
              
              formData.append("project_id", projectId);
              formData.append("site_id", siteId);
              console.log(formData)
          });
  }
      }
    }
  }
}
</script>

